<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 定义日志输出的目标和格式 -->
  <targets>
    <target xsi:type="File" name="logInfo" fileName="${basedir}/logs/${shortdate}_Info.txt"
            layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="File" name="logError" fileName="${basedir}/logs/${shortdate}_Error.txt"
            layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>

  <!-- 定义规则 -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <!--<logger name="*" minlevel="Info" writeTo="logInfo" />-->
    <logger name="*" minlevel="Error" writeTo="logError" />
  </rules>
</nlog>